
header{
    font-size: large;
}

header .logo{
    cursor: pointer;
}
  
header .logo img {
      width: 400px;
      height: 50;
      transition: all 0.3s;
}
  
header .logo img:hover{
      transform: scale(1.2);
}
 
header .navegador {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin-top: 15px;
    display: inline-block;
    margin-right: 10px;
}
header .navegador li:hover {
    transform: scale(1.1);
} 
header .navegador .nav-link {
    color: rgba(55,52,53,255);
    font-weight: bold;
}
header .navegador .nav .active {
    background-color: rgba(237,50,55,255);
}

.abs-center{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.newproducts .card {
  flex-direction: row;
  max-width: 80em;
  border: 0;
  color: #fff;
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.18);
}
.newproducts .card-img-top {
  max-width: 25%;
  margin: auto;
  padding: 0.5em;
  border-radius: 0.7em;
}
.newproducts .card-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.newproducts .text-section {
  max-width: 90%;
}
.newproducts .cta-section {
  max-width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
.newproducts .cta-section .btn {
  padding: 0.2em 0.5em;
  font-size: 1em;
  color: #696969;
}
.newproducts .card-text {
  font-size: large;
  letter-spacing: 0.1em;
}

.otherproducts .card-title{
    text-align: center;
}